{% load static from staticfiles %}
<!doctype html>
<html lang="pt">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="{% static  'img/favicon.ico' %}">
    <title>Bazar</title>
    <link href="{% static  'bootstrap-4.0.0/css/bootstrap.min.css' %}" rel="stylesheet">
    <link href="{% static  'font-awesome-4.7.0/css/font-awesome.min.css' %}" rel="stylesheet" >
    <link href="{% static  'css/main.css' %}" rel="stylesheet">
  </head>
  <body>

    <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
      <a class="navbar-brand" href="{% url 'index' %}">BAZAR</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarCollapse">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item">
            <a class="nav-link" href="{% url 'index' %}">Dashboard</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'cadastro' %}">Cadastro</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'recibo_lista' %}">Recibo</a>
          </li>
        </ul>
      </div>
    </nav>

    <main role="main" class="container">
        {% for message in messages %}
            <div class="alert alert-{{ message.tags }} alert-dismissable" role="alert">
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span>&times;</span>
                </button>
                {{ message }}
            </div>
        {% endfor %}
        {% block content %}{% endblock %}
    </main>

    <script src="{% static  'js/jquery-3.3.1.min.js' %}"></script>
    <script src="{% static  'bootstrap-4.0.0/js/bootstrap.min.js' %}"></script>
    <script src="{% static  'js/jquery.mask.min.js' %}"></script>
    <script src="{% static  'js/CPF.js' %}"></script>
    {% block javascript %}{% endblock %}
  </body>
</html>